body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

#track {
    display: flex;
    gap: 4vmin;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}
#track div:nth-child(1) {
    background-image: url('https://images.unsplash.com/photo-1672167630747-35dd70a83994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')
}
#track div:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1664575599730-0814817939de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
#track div:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1671485927474-647d19b58260?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
}
#track div:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1517345438041-cf88a04b4689?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
#track div:last-child {
    background-image: url('https://images.unsplash.com/photo-1630707099816-f089c0315e5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
}

#track > div {
    width: 40vmin;
    height: 56vmin;
    background-size: cover;
    background-position: 100% 50%;
    transition-duration: 0.8s;
    outline: none;
    border: 0px;
}
/* #track > img:focus,
#track > img:active {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 100% 100%;
    background-color:#000;
} */